name: Update blog posts
on:
  schedule:
    - cron: "0 */1 * * *"
  workflow_dispatch:

jobs:
  update-readme-with-posts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "10"
          feed_list: "https://seyhunak.substack.com/feed"
